name: Build and Upload FINA Binaries

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [
          x86_64, x86_64-static,
#          i686, i686-static,
#          arm, arm-static,
#          aarch64, aarch64-static,
#          powerpc-static, # powerpc,
#          cosmo
          ]
      fail-fast: true

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Set up Nix
        uses: cachix/install-nix-action@v30
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes

      - name: Build and Create ZIP Archive
        run: |
          nix build .#${{ matrix.target }}
          cp -rL result/ fina-${{ matrix.target }}
          tar -cvzf fina-${{ matrix.target }}.tar.gz fina-${{ matrix.target }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: bin-${{ matrix.target }}
          path: fina-${{ matrix.target }}.tar.gz

  release:
    runs-on: ubuntu-latest
    needs: build
    if: startsWith(github.ref, 'refs/tags/v')
    permissions:
      contents: write

    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts
          pattern: bin-*
          merge-multiple: true

      - name: Generate Checksums
        working-directory: artifacts
        run: |
          sha256sum *.tar.gz > SHA256SUMS.txt

      - name: Upload release assets
        uses: softprops/action-gh-release@v1
        with:
          files: |
            artifacts/*.tar.gz
            artifacts/SHA256SUMS.txt
